{% extends "adminlayout.html" %}
{% block css %}
<style>
    .shadow {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.4;
        z-index: 999;
    }

    .modal_layer {
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        background-color: white;
        width: 400px;
        height: 150px;
        margin-top: -150px;
        margin-left: -200px;
    }

    .below-alert,
    .below-alert:hover {
        background-color: rgb(251, 143, 143) !important;
    }

    /* 分页使用的样式 */
    .pagination {
        margin: 0;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .align-items-center {
        align-items: center;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: not-allowed;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
{% endblock %}
{% block content %}
<ol class="breadcrumb" style="background: #f2f2f2;">
    <li class="active" style="color: goldenrod;">超级管理员模式</li>
</ol>
<div class="col-md-12">
    <a class="btn btn-default " style="margin-bottom:5px;background: #ffffff;" href="javascript:;" id="add_modal">添加</a>
    <div class="shadow hide" id="shadow"></div>
    <a class="btn btn-default " style="margin-bottom:5px;background: #ffffff;" href="javascript:;"
        onclick="redirectToImportLog()">进货日志</a>
    <a class="btn btn-default " style="margin-bottom:5px;background: #ffffff;" href="javascript:;"
        onclick="redirectToExportLog()">销售日志</a>
    <!--信息展示-->
    <table class="table table-hover text-center" style="background: #fffff0;margin-bottom: 0;">
        <tr>
            <!--表头-->
            <th class="text-center">商品ID</th>
            <th class="text-center">商品名称</th>
            <th class="text-center">商品数量</th>
            <th class="text-center">商品价格</th>
            <th class="text-center">预警数量</th>
            <th class="text-center">操作</th>
        </tr>
        {% for row in posts.object_list %}
        <tr class="{% if row.is_below_alert %}below-alert{% endif %}">
            <td>{{ row.product_id }}</td>
            <td>{{ row.product_name }}</td>
            <td>{{ row.quantity }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.alert_quantity }}</td>
            <td>
                <a href="javascript:;" onclick="edit(this)" style="color: rgb(57, 54, 239);">编辑</a>
                <a href="javascript:;" onclick="del(this)" style="color: rgb(57, 54, 239);">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!--分页-->
    <nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center">
        <ul class="pagination">
            <li class="page-item {% if not posts.has_previous %}disabled{% endif %}">
                <a class="page-link"
                    href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% else %}#{% endif %}">
                    上一页
                </a>
            </li>
        </ul>
        <ul class="pagination">
            {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ num }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="pagination">
            <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
                <a class="page-link"
                    href="{% if posts.has_next %}?page={{ posts.next_page_number }}{% else %}#{% endif %}">
                    下一页
                </a>
            </li>
        </ul>
    </nav>
    <!--信息展示-->
    <!--添加信息模态框-->
    <div class="modal_layer hide" id="modal_add">
        <div class="panel panel-danger">
            <div class="panel-heading" style="font-weight: bold; background: #65bcfe;">添加商品信息
                <button type="button" class="close" id="close_add_modal"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="panel-body">
                <form>
                    <!--输入要插入的行的product_id-->
                    <!-- <div class="form-group">
                        <label for="">商品ID</label>
                        <input type="text" name="add_product_id" class="form-control" id="add_product_id" placeholder=""
                            autofocus>
                    </div> -->
                    <!--输入要插入的行的product_name-->
                    <div class="form-group">
                        <label for="">商品名称</label>
                        <input type="text" name="add_product_name" class="form-control" id="add_product_name"
                            placeholder="" autofocus>
                    </div>
                    <!--输入要更新的行的quantity-->
                    <div class="form-group">
                        <label for="">商品数量</label>
                        <input type="text" name="add_quantity" class="form-control" id="add_quantity" placeholder=""
                            autofocus>
                    </div>
                    <!--输入要更新的行的price-->
                    <div class="form-group">
                        <label for="">商品价格</label>
                        <input type="text" name="add_price" class="form-control" id="add_price" placeholder=""
                            autofocus>
                    </div>
                    <!--输入要更新的行的alert_quantity-->
                    <div class="form-group">
                        <label for="">预警数量</label>
                        <input type="text" name="add_alert_quantity" class="form-control" id="add_alert_quantity"
                            placeholder="" autofocus>
                    </div>
                    <div id="add_error" style="color: red;margin-bottom: 5px"></div>
                    <input type="button" class="btn" value="添加" id="add" style="background: #65bcfe;">
                </form>
            </div>
        </div>
    </div>
    <!--添加信息模态框-->
    <!--编辑信息模态框-->
    <div class="modal_layer hide" id="modal_edit">
        <div class="panel panel-danger">
            <div class="panel-heading" style="font-weight: bold; background: #65bcfe;">编辑商品信息
                <button type="button" class="close" id="close_edit_modal"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="panel-body">
                <form>
                    <!--输入要更新的行的product_id-->
                    <div class="form-group">
                        <label for="">商品ID</label>
                        <input type="text" name="edit_product_id" class="form-control" id="edit_product_id"
                            placeholder="" autofocus>
                    </div>
                    <!--输入要更新的行的product_name-->
                    <div class="form-group">
                        <label for="">商品名称</label>
                        <input type="text" name="edit_product_name" class="form-control" id="edit_product_name"
                            placeholder="" autofocus>
                    </div>
                    <!--输入要更新的行的quantity-->
                    <div class="form-group">
                        <label for="">商品数量</label>
                        <input type="text" name="edit_quantity" class="form-control" id="edit_quantity" placeholder=""
                            autofocus>
                    </div>
                    <!--输入要更新的行的price-->
                    <div class="form-group">
                        <label for="">商品价格</label>
                        <input type="text" name="edit_price" class="form-control" id="edit_price" placeholder=""
                            autofocus>
                    </div>
                    <!--输入要更新的行的alert_quantity-->
                    <div class="form-group">
                        <label for="">预警数量</label>
                        <input type="text" name="edit_alert_quantity" class="form-control" id="edit_alert_quantity"
                            placeholder="" autofocus>
                    </div>
                    <div id="edit_error" style="color: red;margin-bottom: 5px"></div>
                    <input type="button" class="btn" value="修改" id="edit" style="background: #65bcfe;">
                </form>
            </div>
        </div>
    </div>
    <!--编辑信息模态框-->
</div>
{% endblock %}
{% block js %}
<script>
    //获取csrftoken
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    $(function () {
        $("#add_modal").click(function () {
            $('#shadow').removeClass('hide');
            $('#modal_add').removeClass('hide');
        });
        $('#shadow').click(function () {
            $('#shadow').addClass('hide');
            $('#modal_add').addClass('hide');
            $('#modal_edit').addClass('hide');
        });
        $('#close_add_modal').click(function () {
            $('#shadow').addClass('hide');
            $('#modal_add').addClass('hide');
        });
        $('#close_edit_modal').click(function () {
            $('#shadow').addClass('hide');
            $('#modal_edit').addClass('hide');
        });
        //添加
        $('#add').click(function () {
            $.ajax({
                url: './importi_modify_add/', //向modify函数传参
                type: 'POST', //请求类型为POST
                headers: { "X-CSRFToken": csrftoken },//csfrtoken，没有的话会403
                data: {
                    'importi_sql': 'INSERT INTO importi_log (product_id, delta_quantity, changed_by) VALUES (%s, %s, %s)',
                    'importi_args': [0, $('#add_quantity').val(), '<username>'],
                    'inventory_sql': 'insert into inventory(product_name, quantity, price, alert_quantity) values (%s, %s, %s, %s)',
                    'inventory_args': [$('#add_product_name').val(), $('#add_quantity').val(), $('#add_price').val(), $('#add_alert_quantity').val()]
                },
                success: function (data) {
                    if (data.importi_result.status && data.inventory_result.status) {
                        console.log("chengogn ");
                        location.reload(); // 刷新页面
                    } else {
                        var message = "";
                        if (!data.inventory_result.status) message += data.inventory_result.msg;
                        if (!data.importi_result.status) message += data.importi_result.msg;
                        $('#add_error').text(message);
                    }
                }
            });
        });
        //修改
        $('#edit').click(function () {
            $.ajax({
                url: './modify/',
                type: 'POST',
                headers: { "X-CSRFToken": csrftoken },
                data: {
                    'sql': 'UPDATE inventory SET product_name = %s, quantity = %s, price = %s, alert_quantity = %s WHERE product_id = %s',
                    'args': [$('#edit_product_name').val(), $('#edit_quantity').val(), $('#edit_price').val(), $('#edit_alert_quantity').val(), $('#edit_product_id').val()]
                },
                success: function (data) {
                    if (data.status) {
                        location.reload(); // 刷新页面
                    } else {
                        $('#edit_error').text(data.msg);
                    }
                }
            });
        });

    })

    function edit(ths) {
        console.log("Edit function called");
        //编辑信息前的操作
        $('#shadow').removeClass('hide');
        $('#modal_edit').removeClass('hide');
        //获取当前行的所有值
        edit_row = $(ths).parent().prevAll(); //全局变量，因为更新要知道原来的product_id，在另一个函数实现的
        //商品ID
        var product_id = $(edit_row[4]).text();
        //商品姓名
        var product_name = $(edit_row[3]).text();
        //商品数量
        var quantity = $(edit_row[2]).text();
        //商品价格
        var price = $(edit_row[1]).text();
        //预警数量
        var alert_quantity = $(edit_row[0]).text();
        //将原来的值填进对应的输入框里
        $('#edit_product_id').val(product_id);
        $('#edit_product_name').val(product_name);
        $('#edit_quantity').val(quantity);
        $('#edit_price').val(price);
        $('#edit_alert_quantity').val(alert_quantity);
    }

    //删除
    function del(ths) {
        console.log("del function called");
        // 弹出确认框
        if (confirm("确定要删除这个商品吗？")) {
            var del_row = $(ths).parent().prevAll();
            var product_id = $(del_row[4]).text();
            $.ajax({
                url: './modify/',
                type: 'POST',
                headers: { "X-CSRFToken": csrftoken },//csfrtoken，没有的话会403
                data: {
                    'sql': 'delete from inventory where product_id = %s',
                    'args': [product_id]
                },
                success: function (data) {
                    if (data.status) {
                        location.reload()
                    } else {
                        alert(data.msg);
                    }
                }
            })
        } else {
            // 如果用户点击“取消”，则不执行任何操作
            console.log("User canceled the delete operation.");
        }
    }

    function redirectToImportLog() {
        window.location.href = '/importilog/?return=superadmin'; // 修改为 import log 的正确路径
    }

    function redirectToExportLog() {
        window.location.href = '/exportilog/?return=superadmin'; // 修改为 export log 的正确路径
    }

</script>
{% endblock %}